.jumbotron{
    background-color: #0D1B48;
    color: #FFFFFF;
    margin-top: 30px;
}

footer {
    padding: 10px 10px 0 10 px;
    background-color: #343A40;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-libros{
    flex: 1 180px;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
}

.btn-reserva{
    width: 100%;

}

address {
    color: #FFFFFF;
}

.oi{
    color: orange;
}

/* .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
} */