.jumbotron{
    background-color: $fondo;
    color: #FFFFFF;
    margin-top: 30px;
}

footer {
    padding: 10px 10px 0 10 px;
    background-color: $fondo;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-libros{
    flex: 1 180px;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
}

.btn-reserva{
    width: 100%;
}

.btn-outline-success{
    margin: 3px;
}

address {
    color: #FFFFFF;
}

.oi{
    color: orange;
}

.card-img-top {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

ol{
    padding: 5px;
    margin: 2px;
}